<h1>About</h1>

<div class="badge badge-dark text-wrap" style="width: 69.5rem;">
<!--<p class="text-primary">Welcome to the NCI Stock App</p>-->
<h1>Welcome to the NCI Stock App <span class="badge badge-secondary">Here you can find all Company Tickers</span></h1>
If you have not registered yet, please Register Now!
</div>
<br/>
<br/>

<div class="jumbotron">
  <h1 class="display-4">Companies Ticker List</h1>
  <p class="lead">Below you can find the most popular companies symbols</p>
  <hr class="my-4">
  <p> APPL = Apple Inc. Common Stock</p>
  <p> AMZN = Amazon.com, Inc. Common Stock</p>
  <p> FB = Facebook, Inc. Class A Common Stock</p>
  <p> JNJ = Johnson & Johnson Common Stock</p>
  <p> V	= Visa Inc.</p>

</div>


