<h1>About</h1>

<div class="badge badge-dark text-wrap" style="width: 69.5rem;">
<!--<p class="text-primary">Welcome to the NCI Stock App</p>-->
<h2>Welcome to the NCI Stock App <span class="badge badge-secondary"> Here you can find all Company Tickers</span></h2>
<br/>
If you have not registered yet, please Register Now!
</div>
<br/>
<br/>

<div class="jumbotron">
  <h3 class="display-4">Companies Ticker List</h3>
  <p class="lead">Below you can find the most popular companies symbols</p>
  <hr class="my-4">
  <p> AAPL = Apple Inc. Common Stock</p>
  <p> AMZN = Amazon.com, Inc. Common Stock</p>
  <p> FB = Facebook, Inc. Class A Common Stock</p>
  <p> JNJ = Johnson & Johnson Common Stock</p>
  <p> V	= Visa Inc.</p>
  <p> NSRGF = Nestle S.A Reg Ord</p>
  <p> TM = Toyota Motor Corporation Common Stock</p>
  <p> KO = Coca-Cola Company (The) Common Stock</p>
  <p> T	= AT&T Inc.</p>
  <p> HSBC = HSBC Holdings, plc. Common Stock</p>
  <p> CRM = Salesforce.com Inc Common Stock</p>
  <p> PEP = PepsiCo, Inc. Common Stock</p>
  <p> NFLX = Netflix, Inc. Common Stock</p>
  <p> LRLCY = L'Oreal S.A. ADR</p>
  <p> NKE = Nike, Inc. Common Stock</p>
  <p> MCD = McDonald's Corporation Common Stock</p>

  <p><b>For the full list please click in this button:</b></p>

  <a href="https://www.nasdaq.com/market-activity/stocks/screener" target="_blank"><input type="button" class= "btn btn-secondary btn-lg" value="Nasdaq Company List"></a> 
</div>


