<h1>NCI Stock App</h1>

<!-- create a loop "do" then create a text field with tag ticket and place holder has the message for the user in the field, with a button called lookup-->
<%= form_tag root_path, :method => 'POST' do%>
	<%= text_field_tag 'ticker', nil, placeholder: "Enter Ticker Symbol", size: 50 %>
<%= submit_tag 'Lookup' %>
<% end %>

<%= StockQuote::Stock.new(api_key:'pk_ed3bf1990f8a4bdcaa33dc9a9f725a7c')%>
<% @stock = StockQuote::Stock.quote("fb") %>

